$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);
$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);

.advice-generator{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .card{
        position: relative;
        background-color: $grayish-blue;
        width: 90%;
        max-width: 30rem;
        min-height: 22rem;
        padding: 3rem 2rem 4rem;
        border-radius: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .advice-id{
            color: $neon-green;
            font-size: .75rem;
            letter-spacing: .25rem;
            text-transform: uppercase;
        }

        .advice-text{
            color: $light-cyan;
            font-size: 1.5rem;
            margin: 2rem 0;
            text-align: center;
            line-height: 1.5;
        }

        .divider-desktop{
            display: none;
        }

        .btn{
            position: absolute;
            width: 4rem;
            height: 4rem;
            background-color: $neon-green;
            
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            bottom: 0;
            transform: translateY(50%);
            cursor: pointer;

            &:hover{
                box-shadow: 0 0 20px $neon-green;
            }

            &:disabled{
                background-color: $grayish-blue;
                box-shadow: none;
                cursor: wait;
            }

            .bounce{
                animation-name: bounce;
                animation-duration: 2s;
            }
        }
    }  
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-1rem) rotate(180deg);} 
    60% {transform: translateY(-.5rem);}
 } 

@media screen and (min-width: 769) {
    .divider-desktop{
        display: block;
    }

    .divider-mobile{
        display: none;
    }
}

@import "general";